$background: #202020;
$text-color: #b0b0b0;

$border-color: $text-color;

$duke: #900867;
$assassin: #466148;
$ambassador: #999100;
$captain: #076273;
$contessa: #900007;


$action-color: #b0998d;

$button-color: $text-color;
$button-text-color: $background;


@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;

  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient($from, $to);

  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop($from), color-stop($to));

  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient($from, $to);

  /* Opera 11.10+ */
  background-image: -o-linear-gradient($from, $to);
}

/* resets */
h1, h2, h3, p, a, ul, ol, li, div, span, body, section, article, header, footer, input, button {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: $background;
  color: $text-color;
  width: 100%;
  overflow: hidden;
}

/* wow such module */
.choice-list {
  ul.choice-list {
    width: 100%;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
      width: 100%;
      position: relative;
      a {
        &:hover {
          cursor: pointer;
          color: lighten($action-color, 10%);
          @include gradient(lighten($background, 10%), lighten($background, 15%));
        }
        display: block;
        width: 100%;
        border-bottom: 1px solid $background;
        padding: 4px 4px 4px 24px;
        @include gradient($background, lighten($background, 5%));
        color: $action-color;
        &.active {
          color: lighten($action-color, 10%);
          @include gradient(lighten($background, 10%), lighten($background, 15%));
        }
        &.duke {
          border-color: $duke;
        }
        &.assassin {
          border-color: $assassin;
        }
        &.ambassador {
          border-color: $ambassador
        }
        &.captain {
          border-color: $captain;
        }
        &.contessa {
          border-color: $contessa;
        }
        .icon {
          height: 20px;
          width: 20px;
          padding-right: 20px;
          float: left;
        }
      }
    }
  }
}

/* state classes */
.is-hidden {
  display: none;
}

/* sprites */
.icon {
  background: url('/sprites.png') no-repeat;
  &.duke {
    background-position: 0 0;
  }
  &.assassin {
    background-position: -50px 0;
  }
  &.ambassador {
    background-position: -100px 0;
  }
  &.captain {
    background-position: -150px 0;
  }
  &.contessa {
    background-position: -200px 0;
  }
}


/* button styles */
button {
  border: none;
  border-radius: 8px;
  @include gradient($button-color, lighten($button-color, 10%));
  color: $button-text-color;
  text-shadow: 0px 2px 2px lighten($button-color, 20%);
  font-size: 2em;
  padding: 4px;
  margin: 2px;
  &:hover {
    @include gradient(lighten($button-color, 10%), lighten($button-color, 20%));
    color: lighten($button-text-color, 10%);
    text-shadow: 0px 2px 2px lighten($button-color, 30%);
    cursor: pointer;
  }
  &:disabled {
    display:none;
  }
}

div.players {
  .coins {
    padding-left: 10px;
    &:after {
      content: " dragons";
    }

  }
  .roles {
    padding-left: 10px;
    &:after {
      content: " roles";
    }
  }
}


footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  overflow: auto;

  .assets {
    width: 100%;

    .coins {
      font-size: xx-large;
    }

    .roles {
      li {
        padding: 6px;
        display: inline-block;
        &.duke {
          @include gradient(darken($duke, 10%), darken($duke, 20%));
        }
        &.assassin {
          @include gradient(darken($assassin, 10%), darken($assassin, 20%));
        }
        &.ambassador {
          @include gradient(darken($ambassador, 10%), darken($ambassador, 20%));
        }
        &.captain {
          @include gradient(darken($captain, 10%), darken($captain, 20%));
        }
        &.contessa {
          @include gradient(darken($contessa, 10%), darken($contessa, 20%));
        }
      }
    }
  }
}

div.clear {
  clear: both;
}