<h2 id='title'>The Iron Throne</h2>
<p class="subtitle">In the game of thrones, you either win or you die.</p>

{{#if peter}}Such peter{{else}}not peter{{/if}}

{{outlet}}


<div class="players">
    <ul>
        {{#each player}}
            <li>*{{person.displayName}}</li>
        {{/each}}
    </ul>
</div>