<section>
    <div class="timer"><span class="timer-value">{{timeLeft}}</span></div>
    <div>{{message}}</div>
    <div>
        <a class="button">{{button1}}</a>
        <a class="button">{{button2}}</a>
    </div>
</section>