<!--<div class="controls">-->
    <!--<ul class="list-choices actions">-->
        <!--<li><a class="income">Income</a></li>-->
        <!--<li><a claas="foreign-aid">Foreign Aid</a></li>-->
        <!--<li><a class="coup">Coup</a></li>-->
        <!--<li><a class="char duke tax active"><span class="icon duke"></span>Tax</a></li>-->
        <!--<li><a class="char assassin assassinate"><span class="icon assassin"></span>Assassinate</a></li>-->
        <!--<li><a class="char ambassador exchange"><span class="icon ambassador"></span>Exchange</a></li>-->
        <!--<li><a class="char captain steal"><span class="icon captain"></span>Steal</a></li>-->
    <!--</ul>-->
    <!--<ul class="list-choices blocks available">-->
        <!--<li><a class="block char duke foreign-aid"><span class="icon duke"></span>Block Foreign Aid</a></li>-->
        <!--<li><a class="block char ambassador steal"><span class="icon ambassador"></span>Block Stealing</a></li>-->
        <!--<li><a class="block char captain steal"><span class="icon captain"></span>Block Stealing</a></li>-->
        <!--<li><a class="block char contessa assassinate"><span class="icon contessa"></span>Block Assassination</a></li>-->
    <!--</ul>-->
    <!--<button class="challenge">Challenge!</button>-->
    <!--<button class="no-challenge">Don't Challenge</button>-->
    <!--<button class="confirm">Confirm</button>-->
    <!--<button class="cancel">Cancel</button>-->
<!--</div>-->
<!--<div class="messages">-->
    <!--<div class="turn-who">It's <span class="turn-data">your</span> turn.</div>-->
    <!--<div class="challenge-info">-->
        <!--<div class="challenge-presented hidden">Challenged!</div>-->
        <!--<div class="challenge-player"></div>-->
    <!--</div>-->
<!--</div>-->

<section class="choice-list">
    <ul class="choice-list">
      {{#each choices}}
          <li>YEAH</li>
      {{/each}}
    </ul>
</section>




<button {{action "peter"}}>PETER!!!</button>